@charset "UTF-8";
/* ---ОБНУЛЕНИЕ------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a, button {
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  outline: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  background-color: #da3e3e;
  padding: 40px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16px;
  color: #000;
}

/* ---ОБНУЛЕНИЕ END------- */
.buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.buttons:not(:last-child) {
  margin-bottom: 15px;
}

.button-emoji {
  font-size: 3rem;
  transition: all 0.3s ease 0s;
}
.button-emoji:hover {
  transform: scale(1.4);
}

.grid-container {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.you-block-with-score, .computer-block-with-score {
  font-size: 24px;
  color: white;
}

.result-score {
  font-size: 0.8rem;
}

.whatIsChoosen {
  font-size: 2rem;
  opacity: 0.5;
}

.winner {
  opacity: 1;
}